<%= form_with(model: user, html: { data: { controller: "upload" } } ) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieid">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field" data-upload-target="progress">
    <%= form.label :profile_video %>
    </br>
    <%= form.file_field :profile_video, accept: "video/*", direct_upload: true %>
  </div>

  <progress data-upload-target="bar" id="file" max="100" value="0"> 70% </progress>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>